{
    "presets":[
      ["@babel/preset-env", {
        "targets": {
          "node": "6.10",
          "browsers": ["last 2 versions"]
        }
        
        
        
      }]
    ,"@babel/preset-react"],
    "plugins": ["@babel/plugin-proposal-class-properties"]
  }